.gradle

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bundlejre/
build/
out-mac/
dist/
nbproject/
.idea/
output/
.gradle/
.nb-gradle/
bin/
private/

flatpak/**/builddir
flatpak/**/.flatpak-builder
flatpak/**/repo

*jre*.zip

Thumbs.db
gs.msi
